<article class="home-blog">
<% if Blog.exists? %>
<div class="clearfix">
<div class="col-xs-12 col-sm-9 home-blog_padding">
     <div class="home-blog_top">
     <%= link_to blog_url(@firstblog) do %>
     <div class="home-blog_top--image">
     <%= image_tag @firstblog.image.url %>
     </div>
     <div class="home-blog_top-content">
     <p class="home-blog_top-content--time">
     <%= @firstblog.created_at.strftime("%Y.%m.%d(#{%w(日 月 火 水 木 金 土)[@firstblog.created_at.wday]})") %>
     </p>
     <p class="home-blog_top-content--title">
     <%= @firstblog.title %>
     </p>
     <p class="home-blog_top-content--content">
     <%= @firstblog.content %>
     </p>
     </div>
     </a><% end %>
     </div>
     </div>
     <div class="col-xs-12 col-sm-3">
     <div>
     <p></p>
     </div>
     </div>
     </div>

       <hr>

     <% if @homeblogs.exists? %>  
     <div class="clearfix">
     <% @homeblogs[1..-1].each.with_index do |blog, i| %>
     <div class="home-blog_<%= i %>">
     <div class="home-blog_<%= i %>-inner">
     <%= link_to blog_url(blog) do %>
     <div class="home-blog_<%= i %>--image">
     <%= image_tag blog.image.url %>
     </div>
     <div class="home-blog_<%= i %>-content">
     <p class="home-blog_<%= i %>-content--time">
     <%= blog.created_at.strftime("%Y.%m.%d(#{%w(日 月 火 水 木 金 土)[blog.created_at.wday]})") %>
     </p>
     <p class="home-blog_<%= i %>-content--title">
     <%= blog.title %>
     </p>
     <p class="home-blog_<%= i %>-content--content">
     <%= blog.content %>
     </p>
     </div>
     </a><% end %>
     </div> 
     </div>
      <% end %>
      </div>
      <hr>
      <% end %>
  <% else %>
  <p class="h5">ニクナビタイムズの投稿はございません。</p>
  <% end %>
  </article>

<% unless  @shop_events.empty? %>
<div class="flexslider">
<ul class="slides">
<% @shop_events.each do |shop_event| %>
<li>
<%= image_tag shop_event.image.url %>
<p class="flex-caption">
<%= shop_event.title %>
</p>
</li>
<% end %>
</ul>
</div>
<% end %>

<div class="clearfix">
<div class="col-xs-12 col-md-9">
<div class="home-areas">
<h3 class="home-part--title">エリアから探す</h3>
<div class="home-area--inner">
<% @areas.each do |area| %>
<div class="btn btn-pink">
<%= link_to area_url(:areacode => area.areacode) do %>
<%= area.name %>
<% end %>
</div>
<% end %>
</div>
</div>

<div class="home-recommends">
 <h3 class="home-part--title">こだわり部位から探す</h3>
  <div class="home-recommends--inner clearfix">
    <%= render :partial => "recommend_karubi" %>
    <%= render :partial => "recommend_sa-roin" %>
    <%= render :partial => "recommend_hire" %>
    <%= render :partial => "recommend_tan" %>
    <%= render :partial => "recommend_harami" %>
    <%= render :partial => "recommend_horumon" %>
    <%= render :partial => "recommend_mino" %>
    <%= render :partial => "recommend_reba" %>
    <%= render :partial => "recommend_senmai" %>
  </div>
</div>

</div>

<%
=begin
%>
<div class="new_top_list">
    <h3 class="home-part--title">ニクナビPR店舗</h3>
    <ul>
      <%= render :partial => "static_pages/shop_list", locals: { shop: @newShop } %>
    </ul>
</div>

<%
=end
%>

<div class="col-xs-12 col-md-3">
  <div class="side_news nikunabi-side">
    <h4>お知らせ</h4>
      <% @newinformations.each do |information| %>
        <hr>
        <%= render :partial => "information_list", locals: { information: information } %>
      <% end %>
  </div>
</div>
</div>


<div class="home-feature">
<h3 class="home-part--title">サービスで探す</h3>
<ul class="list-inline home-feature">
  <li><%= link_to '高級肉', feature_url(:id => 1) %></li>
  <li><%= link_to '写真映えメニュー', feature_url(:id => 2) %></li>
  <li><%= link_to 'デカ盛りメニュー', feature_url(:id => 3) %></li>
  <li><%= link_to 'ヘルシーメニュー', feature_url(:id => 4) %></li>
  <li><%= link_to '激辛メニュー', feature_url(:id => 5) %></li>
  <li><%= link_to '韓国系メニュー', feature_url(:id => 6) %></li>
  <li><%= link_to '食べ放題コース', feature_url(:id => 7) %></li>
  <li><%= link_to '飲み放題コース', feature_url(:id => 8) %></li>
  <li><%= link_to '食事コース', feature_url(:id => 9) %></li>
</ul>
</div>

<div class="home-serch-form">
<h3 class="home-part--title">もっと詳しく検索する</h3>
 <button class="search-hidden-home-btn" type="button" class="hidden-bin">検索フォームを表示する</button> 
  <div class="hidden-form-home" style="display: none">
  <%= render :partial => "search/search_form" %>
  </div>
</div>
</div>


