<article class="home-blog">
<% if Blog.exists? %>
<div class="clearfix">
<div class="col-xs-12 col-sm-9 home-blog_padding">
     <div class="home-blog_top">
     <%= link_to blog_url(@firstblog) do %>
     <div class="home-blog_top--image">
     <%= image_tag @firstblog.image.url %>
     </div>
     <div class="home-blog_top-content">
     <p class="home-blog_top-content--time">
     <%= @firstblog.created_at.strftime("%Y.%m.%d(#{%w(日 月 火 水 木 金 土)[@firstblog.created_at.wday]})") %>
     </p>
     <p class="home-blog_top-content--title">
     <%= @firstblog.title %>
     </p>
     <p class="home-blog_top-content--content">
     <%= @firstblog.content %>
     </p>
     </div>
     </a><% end %>
     </div>
     </div>
     <div class="col-xs-12 col-sm-3">
     <div>
     <p></p>
     </div>
     </div>
     </div>

       <hr>

     <% if @homeblogs.exists? %>  
     <div class="clearfix">
     <% @homeblogs.each.with_index do |blog, i| %>
     <div class="home-blog_<%= i %>">
     <div class="home-blog_<%= i %>-inner">
     <%= link_to blog_url(blog) do %>
     <div class="home-blog_<%= i %>--image">
     <%= image_tag blog.image.url %>
     </div>
     <div class="home-blog_<%= i %>-content">
     <p class="home-blog_<%= i %>-content--time">
     <%= blog.created_at.strftime("%Y.%m.%d(#{%w(日 月 火 水 木 金 土)[blog.created_at.wday]})") %>
     </p>
     <p class="home-blog_<%= i %>-content--title">
     <%= blog.title %>
     </p>
     <p class="home-blog_<%= i %>-content--content">
     <%= blog.content %>
     </p>
     </div>
     </a><% end %>
     </div> 
     </div>
      <% end %>
      </div>
      <hr>
      <% end %>
  <% else %>
  <p>まだニクナビタイムズの投稿はございません。</p>
  <% end %>
  </article>
  <hr>

<div class="clearfix">
<div class="col-xs-12 col-md-9">
<article class="new_top_list">
    <h3>新着店一覧</h3>
    <ul >
      <% @newShops.each do |shop| %>
          <%= render :partial => "shops/shop_list", locals: { shop: shop } %>
      <% end %>
    </ul>

    
    <%= link_to '全てのショップを見る', shops_path, class: "nikunabi_home-btn" %>
  </article>
</div>


<div class="col-xs-12 col-md-3">
  <div class="side_news nikunabi-side">
    <h4>肉ナビからのお知らせ</h4>
    
    <hr>
  </div>
</div>

</div>