<%= form_with(model: @menu, url: (@menu.new_record? ? [:shop, @menu]: @menu), local: true) do |f| %>
<% if menu.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(menu.errors.count, "error") %> prohibited this detail from being saved:</h2>

    <ul>
    <% menu.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<b>メニュー追加</b>

  <table class="table table-list">
  <thead>
    <tr>
      <th>メニュー名</th>
      <th>メニュー画像</th>
      <th>価格</th>
    </tr>
  </thead>

  <tbody id='detail-association-insertion-point'>
  <div class="form-group">
    <tr class="nested-fields">
    <td>
    <%= f.text_field :name, class: 'form-control unit-price' %>
    </td>
    <td>
    <%= f.file_field :image, class: 'form-control quantity' %>
    </td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">¥</span>
        <%= f.text_field :price, class: 'form-control subtotal'%>
      </div>
    </td>
  </tr>
  </div>
  </tbody>
  </table>
  <%= f.submit '登録', class: 'btn btn-primary' %>
  <% end %>
