<% breadcrumb :blogs %>
<small class="blog_show-desc">なごや焼肉情報誌 ニクナビ通信</small>
<h2 class="blog_show-toptitle">NIKUNABI TIMES!!<h2>

<div class="blogs-area clearfix">
<% @blogs.each do |blog| %>
<article class="blogs-areas">
<div class="blogs-areas-image"><%= image_tag blog.image.url %></div>
<h3 class="blogs-areas-title"><%= blog.title %></h3>
<p class="blogs-areas-subtitle"><%= blog.subtitle %> <time class="blogs-areas-time"><%= blog.created_at.strftime('%Y年%m月%d日') %></p>
<p class="blogs-areas-content">
  <% if blog.content.length > 96 %>
    <%= truncate(blog.content, length: 96 ) %>
    <%= link_to '続きをみる', '', class: "read-more-text read-more-#{blog.id}" %>
    <script>
      $('.read-more-<%= blog.id %>').on('click', function(e) {
        e.preventDefault()
        $(this).parent().html('<%= escape_javascript simple_format(@blog.content) %>')
      })
    </script>
  <% else %>
    <%= blog.content %>
  <% end %>
<p>
</article>
<% end %>
</div>