<% breadcrumb :blogs %>
<small class="blog_show-desc">なごや焼肉情報誌 ニクナビ通信</small>
<h2 class="blog_show-toptitle">NIKUNABI TIMES!!<h2>

<div class="blogs-area clearfix">
<% @blogs.each do |blog| %>
<article class="blogs-areas">
<div class="blogs-areas-image"><%= image_tag blog.main_image.url %></div>
<h3 class="blogs-areas-title"><%= blog.main_title %></h3>
<p class="blogs-areas-subtitle"><time class="blogs-areas-time"><%= blog.created_at.strftime('%Y年%m月%d日') %></p>
<p class="blogs-areas-content">
    <%= truncate(blog.main_content, length: 96 ) %>
    <%= link_to '続きをみる', blog_path(blog), class: "read-more-text read-more-#{blog.id}" %>
<p/>
</article>
<% end %>
</div>