<% breadcrumb :show_blog, @blog %>
<p id="notice"><%= notice %></p>
  <div class="col-sm-8 col-md-8 col-xs-12">
  <article class="show-Blog">
    <div class="show-Blog_Img"><%= image_tag @blog.main_image.url %></div>
    <h1 class="show-Blog_Title"><%= @blog.main_title %></h1>
    <p class="show-Blog_Time"><time><%= @blog.updated_at.strftime("%Y/%m/%d 更新") %></time></p>
    <p class="show-Blog_Content"><%= simple_format(@blog.main_content) %></p>
    <div class="show-Blog_TableContents">
    <p>目次</p>
      <ul>
      <li class="show-Blog_TableContents-item"><%= link_to @blog.title_01, blog_path(@blog, anchor: :content_01) %></li>
      <li class="show-Blog_TableContents-item"><%= link_to @blog.title_02, blog_path(@blog, anchor: :content_02) %></li>
      <li class="show-Blog_TableContents-item"><%= link_to @blog.title_03, blog_path(@blog, anchor: :content_03) %></li>
      <li class="show-Blog_TableContents-item"><%= link_to @blog.title_04, blog_path(@blog, anchor: :content_04) %></li>
      </ul>
    </div>

    <section id="cotent_01" class="show-Blog_Content01 show-Blog_Content">
      <div class="show-Blog_Content-img"><%= image_tag @blog.image_01.url %></div>
      <h2 class="show-Blog_Content-title"><%= @blog.title_01 %></h2>
      <p class="show-Blog_Content-content"><%= simple_format(@blog.content_01) %></p>
    </section>
    <section id="cotent_02" class="show-Blog_Content02 show-Blog_Content">
      <div class="show-Blog_Content-img"><%= image_tag @blog.image_02.url %></div>
      <h2 class="show-Blog_Content-title"><%= @blog.title_02 %></h2>
      <p class="show-Blog_Content-content"><%= simple_format(@blog.content_02) %></p>
    </section>
    <section id="cotent_03" class="show-Blog_Content03 show-Blog_Content">
      <div class="show-Blog_Content-img"><%= image_tag @blog.image_03.url %></div>
      <h2 class="show-Blog_Content-title"><%= @blog.title_03 %></h2>
      <p class="show-Blog_Content-content"><%= simple_format(@blog.content_03) %></p>
    </section>
    <section id="cotent_04" class="show-Blog_Content04 show-Blog_Content">
      <div class="show-Blog_Content-img"><%= image_tag @blog.image_04.url %></div>
      <h2 class="show-Blog_Content-title"><%= @blog.title_04 %></h2>
      <p class="show-Blog_Content-content"><%= simple_format(@blog.content_04) %></p>
    </section>
    </article>
  </div>

<div class="col-sm-4 col-md-4 col-xs-12">
<div class="blog_show-other clearfix">
<p class="blog_show-other--maintitle">過去のおすすめ記事</p>
<% @otherblogs.each do |otherblog| %>
<div class="blog_show-other--inner">
     <%= link_to blog_path(otherblog) do %>
     <div class="blog_show-other--image">
     <%= image_tag otherblog.main_image.url %>
     </div>
     <div class="blog_show-other--content">
     <p class="blog_show-other--time">
     <time><%= otherblog.created_at.strftime('%Y年%m月%d日') %></time>
     </p>
     <p class="blog_show-other--title">
     <%= otherblog.main_title %>
     </p>
     </div>
     </a>
     <% end %>
</div>
<% end %>
</div>
<div class="blog_show-other--blogs">
<%= link_to 'ニクナビタイムズ一覧を見る', :blogs, class: "btn btn-pink" %>
</div>
</div>

