<p id="notice"><%= notice %></p>

<h1>Prides</h1>

<table>
  <thead>
    <tr>
      <th>Images</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prides.each do |pride| %>
      <tr>
        <td><%= pride.images %></td>
        <td><%= pride.title %></td>
        <td><%= pride.content %></td>
        <td><%= link_to 'Show', pride %></td>
        <td><%= link_to 'Edit', edit_pride_path(pride) %></td>
        <td><%= link_to 'Destroy', pride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pride', new_pride_path %>
