      <% unless @shop.details.nil? %>
      <hr>
      <h2>店舗詳細情報</h2>
      <table class="table table-striped">
        <% unless @shop.details.open.nil? %>
        <tr>
          <td>営業時間</td>
          <td><%= @shop.details.open %></td>
        </tr>
        <% end %>
        <% unless @shop.details.holiday.nil? %>
        <tr>
          <td>定休日</td>
          <td><%= @shop.details.holiday %></td>
        </tr>
        <% end %>
        <% unless @shop.details.access.nil? %>
        <tr>
          <td>アクセス</td>
          <td><%= @shop.details.access %></td>
        </tr>
        <% end %>
        <% unless @shop.details.party.nil? %>
        <tr>
          <td>宴会可能人数</td>
          <td><%= @shop.details.party %></td>
        </tr>
        <% end %>
        <% unless @shop.details.smoking.nil? %>
        <tr>
          <td>喫煙・禁煙</td>
          <td><%= @shop.details.smoking %></td>
        </tr>
        <% end %>
        <% unless @shop.details.parking.nil? %>
        <tr>
          <td>駐車場</td>
          <td><%= @shop.details.parking %></td>
        </tr>
        <% end %>
        <% unless @shop.details.payment.nil? %>
        <tr>
          <td>お支払い方法</td>
          <td><%= @shop.details.payment %></td>
        </tr>
        <% end %>
        <% unless @shop.details.account.nil? %>
        <tr>
          <td>アカウント</td>
          <td><%= @shop.details.account %></td>
        </tr>
        <% end %>
      </table>

      <hr>
      
      <h2>店舗内装・設備</h2>
      <table class="table table-striped">
        <% unless @shop.details.scenes.nil? %>
        <tr>
          <td>おすすめシーン</td>
          <td>
            <ul class="list-inline">
              <% @shop.details.scenes.each do |scene| %>
                <li><%= scene.name %></li>
              <%- end %>
            </ul>
          </td>
        </tr>
        <% end %>
        <% unless @shop.details.vibe.nil? %>
        <tr>
          <td>雰囲気</td>
          <td><%= @shop.details.vibe %></td>
        </tr>
        <% end %>
        <% unless @shop.details.light.nil? %>
        <tr>
          <td>内装照明</td>
          <td><%= @shop.details.light %></td>
        </tr>
        <% end %>
        <% unless @shop.details.facility.nil? %>
        <tr>
          <td>設備</td>
          <td><%= @shop.details.facility %></td>
        </tr>
        <% end %>
        <% unless @shop.details.rooms.nil? %>
        <tr>
          <td>席</td>
          <td>
            <ul class="list-inline">
              <% @shop.details.rooms.each do |room| %>
                <li><%= room.name %></li>
              <%- end %>
            </ul>
          </td>
        </tr>
        <% end %>
      </table>
      <% end %>