<%# breadcrumb :area_shop, @shop %>
<div class="col-xs-12 col-md-8 col-sm-8">
  <div class="shop-detail">
    <article class="new_top_list">
      <div class="shop-detail-top-img">
        <% unless @shop.details %>
          <%= image_tag 'nikunabi_def.jpg'%>
        <% else %>
           <%= image_tag @shop.details.image.url %>
        <% end %>
      </div>

      <div class="nikunabi_shop_tag">
        <ul class="nikunabi_shop_tag-recommend">
          <% @shop.recommends.each do |recommend| %>
            <li><%= recommend.name %></li>
          <%- end %>
        </ul>
        <ul class="nikunabi_shop_tag-feature">
          <% @shop.features.each do |feature| %>
            <li><%= feature.name %></li>
          <%- end %>
        </ul>
      </div>

      <p class="detail-shop-name-desc"><%= @shop.description %></p>
      <h1 class="detail-shop-name"><%= @shop.name %></h1>
      <% @shop.addresses.each do |csa| %>
      <div class="shop-detail-top-info">
        <% unless @shop.addresses.nil? %><span><%= fa_icon("subway", text: "  最寄駅") %></span>：<%= csa.station %> ｜<% end %>
        <% unless @shop.details.nil? %> <span><%= fa_icon("mixcloud", text: "  イメージ") %>：</span><%= @shop.details.concept %><br><% end %>
        <% unless @shop.details.nil? %><span><%= fa_icon("calendar-times-o", text: "  定休日") %>：</span><%= @shop.details.holiday %><% end %>
      </div>
      <div class="shop-detail-top-map">
      <% unless csa.nil? %>
        <p><%= fa_icon("map-marker") %> <%= csa.prefecture + csa.city[:city] + csa.street %></p>
        <span><%= link_to "MAPを見る", "https://maps.google.co.jp/maps/search/#{ csa.prefecture + csa.city[:city] + csa.street }", { :target => "_blank" } %></span>
        <% end %>
      </div>
      <% end %>
      <% unless @shop.prides.nil? %>
      <div class="shop-detail-pride">
        <hr>
        <h2><%= @shop.name %>こだわり</h2>
        <div class="clearfix">
          <% @shop.prides.each do |pride| %>
            <div class="col-sm-4 shop-detail-pride-outer">
              <div class="shop-detail-pride-inner">
                <% unless pride.image.nil? %>
                <div class="shop-detail-pride-img">
                  <%= image_tag pride.image.url %>
                </div>
                <% end %>
                <% unless pride.title.nil? %>
                <div class="shop-detail-pride-title">
                  <%= pride.title %>
                </div>
                <% end %>
                <% unless pride.content.nil? %>
                <div class="shop-detail-pride-content">
                  <%= pride.content %>
                </div>
                <% end %>
              </div>
            </div>
          <%- end %>
        </div>
      </div>
    <% end %>

      <% unless @shop.menus.nil? %>
      <hr>
      <h2>メニュー</h2>
       <% menus = @shop.menus %>
        <% menus.each do |menu| %>
        <div class="shop-detail-menu">
          <h3 class="shop-detail-menu-title">
            <% unless menu.name.nil? %>
              <%= menu.name %>
            <% end %>
            <span>
              <% unless menu.price.nil? %>
                <%= menu.price %>
              <% end %>
            </span>
          </h3>
          <div class="clearfix">
            <div class="col-sm-2 col-xs-3 no-padding">
              <% unless menu.image.nil? %>
              <%= image_tag menu.image.url, :size => "100x100" %>
              <% end %>
            </div>
            <div class="col-sm-10 col-xs-9 shop-detail-menu-table">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <% unless menu.quantity.nil? %>
                      <th>数量</th>
                      <% end %>
                      <% unless menu.bake.nil? %>
                      <th>焼き方</th>
                      <% end %>
                      <% unless menu.taste.nil? %>
                      <th>おすすめ味</th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <% unless menu.quantity.nil? %>
                          <%= menu.quantity %>
                        <% end %>
                      </td>
                      <td>
                        <% unless menu.bake.nil? %>
                          <%= menu.bake %>
                        <% end %>
                      </td>
                      <td>
                        <% unless menu.taste.nil? %>
                          <%= menu.taste %>
                        <% end %>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <% unless menu.comment.nil? %>
            <div class="shop-detail-menu-comment">
              <p>
                <%= menu.comment %>
              </p>
            </div>
            <% end %>
          </div>
        </div>
        </div>
        <% end %>
      <% end %>

      <%= render :partial => 'show_detail' %>

    </article>
  </div>
</div>

<div class="col-xs-12 col-md-3 col-sm-3">
  <%= render 'layouts/shop_detail_sidebar' %>
  <%= render :partial => 'blogs/show_blogs_sidebar' %>
</div>
