<%= search_form_for(@search, url: search_shops_path, method: :get) do |form| %>

<div class="nikunabi_check_box">
<p>エリア検索</p>
<ul class="label_list">
<%= form.collection_check_boxes(:areas_id_in, Area.all, :id, :name, include_hidden: false) do |r| %>
<li class="label_list_item">
  <%= r.label(class: "nikunabi_check_box--label") do %>
      <%= r.check_box(autocomplete: "off") %> <span><%= r.object.name %></span>
    <% end %>
</li>
<% end %>
</ul>
</div>

<div class="nikunabi_check_box">
<p>こだわり部位検索</p>
<ul class="label_list">
<%= form.collection_check_boxes(:recommends_id_in, Recommend.all, :id, :name, include_hidden: false) do |r| %>
<li class="label_list_item">
  <%= r.label(class: "nikunabi_check_box--label") do %>
      <%= r.check_box(autocomplete: "off") %> <span><%= r.object.name %></span>
    <% end %>
</li>
<% end %>
</ul>
</div>

<div class="nikunabi_check_box">
<p>シーン検索</p>
<ul class="label_list">
<%= form.collection_check_boxes(:details_scenes_id_in, Scene.all, :id, :name, include_hidden: false) do |r| %>
<li class="label_list_item">
  <%= r.label(class: "nikunabi_check_box--label") do %>
      <%= r.check_box(autocomplete: "off") %> <span><%= r.object.name %></span>
    <% end %>
</li>
<% end %>
</ul>
</div>

<%
=begin
%>
<div class="nikunabi_check_box">
<p>サービス検索</p>
<ul class="label_list">
<%= form.collection_check_boxes(:features_id_in, Feature.all, :id, :name, include_hidden: false) do |r| %>
<li class="label_list_item">
  <%= r.label(class: "nikunabi_check_box--label") do %>
      <%= r.check_box(autocomplete: "off") %> <span><%= r.object.name %></span>
    <% end %>
</li>
<% end %>
</ul>
</div>
<%
=end
%>

  <div class="form-group">
  <div class="actions">
    <%= form.submit class: 'btn btn-pink btn-block' %>
  </div>
  </div>

<% end %>
