<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.each do |u| %>
      <tr>
        <td><%= u.name %></td>
        <td><%= link_to 'Show', user_path(current_user) %></td>
        <td><%= link_to 'Edit', edit_user_path(current_user) %></td>
        <td><%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
