<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div>
        <p style="color:#fff;"><%= current_shop.name %></p>
      </div>
    </div>

    <!-- /.search form -->
    <ul class="sidebar-menu">
    <li class="header">店舗情報</li>
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>基本情報</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <%= link_to :shops_root do %>
          <i class="fa fa-link"></i> <span>基本情報確認</span></a>
          <% end %>
        </li>
        <li>
          基本情報編集
        </li>
        <li>
      <% if current_shop.addresses %>
        <%= link_to edit_shops_address_path(current_shop.addresses[0])  do %>
        <i class="fa fa-link"></i> <span>アクセス情報編集</span></a>
        <% end %>
      <% else %>
        <%= link_to :new_shops_address do %>
          <i class="fa fa-link"></i> <span>アクセス情報追加</span></a>
        <% end %>
      <% end %>
    </li>
    <li>
      <% if current_shop.details %>
        <%= link_to edit_shops_detail_path(current_shop.details) do %>
        <i class="fa fa-link"></i> <span>詳細情報編集</span></a>
        <% end %>
      <% else %>
        <%= link_to :new_shops_detail do %>
          <i class="fa fa-link"></i> <span>詳細情報追加</span></a>
        <% end %>
      <% end %>
    </li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>メニュー</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <%= link_to :shops_menus do %>
          <i class="fa fa-link"></i> <span>メニュー一覧</span></a>
          <% end %>
        </li>
        <li>
          <%= link_to :new_shops_menu do %>
          <i class="fa fa-link"></i> <span>メニュー作成</span></a>
          <% end %>
        </li>
      </ul>
    </li>    
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>メニュー表画像</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
         <li>
          <%= link_to :shops_menu_books do %>
          <i class="fa fa-link"></i> <span>メニュー表写真一覧</span></a>
          <% end %>
        </li>
        <li>
          <%= link_to :new_shops_menu_book do %>
          <i class="fa fa-link"></i> <span>メニュー表写真追加</span></a>
          <% end %>
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>こだわり情報</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <%= link_to :shops_prides do %>
          <i class="fa fa-link"></i> <span>こだわり一覧</span></a>
          <% end %>
        </li>
        <li>
          <%= link_to :new_shops_pride do %>
          <i class="fa fa-link"></i> <span>こだわり作成</span></a>
          <% end %>
        </li>
      </ul>
    </li>
        <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>イベント情報</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <%= link_to :shops_shop_events do %>
          <i class="fa fa-link"></i> <span>イベント情報一覧</span></a>
          <% end %>
        </li>
        <li>
          <%= link_to :new_shops_shop_event do %>
          <i class="fa fa-link"></i> <span>イベント情報作成</span></a>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>

  </section>
  <!-- /.sidebar -->
</aside>
