<% provide(:title, "店舗管理基本情報一覧") %>

<% content_for :page_h1 do %>
<h1>
  店舗管理情報一覧
  <small>店舗管理情報一覧</small>
</h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
  <li class="active">Here</li>
</ol>
<% end %>

<div class="list-group">
<table class="table">
<thead>
<tr>
<th>ID</th>
<th>店舗名</th>
<th>アドレス</th>
<th>エリア</th>
<th></th>
</tr>
</thead>
<% @shops.each do |shop| %>
<tr>
<td><%= shop.id %></td>
<td><%= shop.name %></td>
<td><%= shop.email %></td>
<td><%= shop.addresses[0].area.name %></td>
<th><%= link_to '詳細', admins_shop_url(shop) %></th>

</tr>
<% end %>
</table>
  
  <%= paginate @shops %>
</div>