<% provide(:title, "店舗基本情報編集") %>

<% content_for :page_h1 do %>
<h1>
  <%= @shop.name %>店舗情報
  <small><%= @shop.name %>情報</small>
</h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
  <li class="active">Here</li>
</ol>
<% end %>

    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @shop.name %>店舗登録情報</h3>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>id</th>
                    <td><%= @shop.id %></td>
                  </tr>
                  <tr>
                    <th>店名</th>
                    <td><%= @shop.name %></td>
                  </tr>
                  <tr>
                    <th>店名サブタイトル</th>
                    <td><%= @shop.description %></td>
                  </tr>
                  <tr>
                    <th>メールアドレス</th>
                    <td><%= @shop.email %></td>
                  </tr>
                  <tr>
                    <th>電話番号</th>
                    <td><%= @shop.telNumber %></td>
                  </tr>
              </tbody>
            </table>
              <div class="box-body text-right">
                <%= link_to edit_admins_shop_url(@shop) do %>
                    編集する</a>
                <% end %>
              </div>
          </div>
      </div>

    </div>

    <div class="nikunabi-unit clearfix">

    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">店舗アクセス情報</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
         <% unless @shop.addresses.nil? %>
          <% @shop.addresses.each do | address | %>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>エリア</th>
                    <td><%= address.area.name %>エリア</td>
                  </tr>
                  <tr>
                    <th>郵便番号</th>
                    <td><%= address.zipcode %></td>
                  </tr>
                  <tr>
                    <th>都道府県</th>
                    <td><%= address.prefecture %></td>
                  </tr>
                  <tr>
                    <th>市区町村</th>
                    <td><%= address.city.city %></td>
                  </tr>
                  <tr>
                    <th>市区町村以下</th>
                    <td><%= address.street %></td>
                  </tr>
                   <tr>
                    <th>最寄駅</th>
                    <td><%= address.station %></td>
                  </tr>
              </tbody>
            </table>
            <% end %>
              <div class="box-body text-right">
                <%= link_to edit_admins_shop_url(@shop) do %>
                    編集する</a>
                <% end %>
              </div>
             <% else %>
             <div class="box-body text-right">
              <%= link_to :new_shops_address do %>
                住所を登録する</a>
              </div>
             <% end %>
          <% end %>
        </div>
      </div>

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">店舗こだわり商品</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <% unless @shop.recommends.empty? %>
             <ul class="mypages_shop_recommend-list">
             <% @shop.recommends.each do |recommend| %>
                 <li><%= recommend.name %></li>
             <% end %>
             </ul>
             <div class="box-body text-right">
                <%= link_to edit_admins_shop_url(@shop) do %>
                    編集する</a>
                <% end %>
              </div>
           <% else %>
                 <p>店舗こだわり条件の登録はございません。</p>
                 <div class="box-body text-right">
                 <%= link_to :new_shops_recommend do %>
                    こだわり条件を追加する</a>
                 </div>
                    <% end %>
           <% end %>  
          </div>
      </div>

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">店舗各種情報</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <% unless @shop.features.empty? %>
             <ul class="mypages_shop_recommend-list">
             <% @shop.features.each do |feature| %>
                 <li><%= feature.name %></li>
             <% end %>
             <div class="box-body text-right">
                <%= link_to edit_admins_shop_url(@shop) do %>
                    編集する</a>
                <% end %>
              </div>
             </ul>
           <% else %>
                 <p>店舗各種情報の登録はございません。</p>
                 <div class="box-body text-right">
                <%= link_to :new_shops_feature do %>
                    店舗詳細情報を追加する</a>
              </div>
                <% end %>
           <% end %> 
          </div>
      </div>
    </div>

    <div class="col-md-6">
    <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">店舗詳細情報</h3>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <% unless @shop.details.nil? %>
              <table class="table table-striped">
                <tbody>
                  <% unless @shop.details.open.nil? %>
                  <tr>
                    <th>営業時間</th>
                    <td><%= @shop.details.open %></td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.holiday.nil? %>
                  <tr>
                    <th>定休日</th>
                    <td><%= @shop.details.holiday %></td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.access.nil? %>
                  <tr>
                    <th>アクセス</th>
                    <td><%= @shop.details.access %></td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.parking.nil? %>
                  <tr>
                    <th>駐車場</th>
                    <td><%= @shop.details.parking %></td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.rooms.nil? %>
                  <tr>
                    <th>席</th>
                    <td>
                    <ul class="list-inline">
                      <% @shop.details.rooms.each do |room| %>
                        <li><%= room.name %></li>
                      <%- end %>
                    </ul>
                    </td>
                  </tr>
                  <% end %>
                   <% unless @shop.details.scenes.nil? %>
                  <tr>
                    <th>シーン</th>
                    <td>
                    <ul class="list-inline">
                      <% @shop.details.scenes.each do |scene| %>
                        <li><%= scene.name %></li>
                      <%- end %>
                    </ul>
                    </td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.concept.nil? %>
                  <tr>
                    <th>店舗タイプ</th>
                    <td><%= @shop.details.concept %></td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.light.nil? %>
                  <tr>
                    <th>店内の明るさ</th>
                    <td><%= @shop.details.light %></td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.facility.nil? %>
                  <tr>
                    <th>店内設備</th>
                    <td><%= @shop.details.facility %></td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.vibe.nil? %>
                  <tr>
                    <th>雰囲気</th>
                    <td><%= @shop.details.vibe %></td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.party.nil? %>
                  <tr>
                    <th>シーン</th>
                    <td>宴会可能人数<%= @shop.details.party %>まで</td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.smoking.nil? %>
                  <tr>
                    <th>禁煙・喫煙</th>
                    <td><%= @shop.details.smoking %></td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.payment.nil? %>
                  <tr>
                    <th>お支払い方法</th>
                    <td><%= @shop.details.payment %></td>
                  </tr>
                  <% end %>
                  <% unless @shop.details.image.nil? %>
                  <tr>
                    <th>店舗トップ画像</th>
                    <td class="mypage-shop-detail-img"><%= image_tag @shop.details.image.url(:thumb) %></td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
              <div class="box-body text-right">
                <%= link_to edit_admins_shop_url(@shop) do %>
                    編集する</a>
                <% end %>
              </div>
              <% else %>
              <p>店舗詳細情報の登録はございません。</p>
               <div class="box-body text-right">
                <%= link_to :new_shops_detail do %>
                    店舗詳細情報を追加する</a>
                <% end %>
              </div>
            <% end %>
         </div>
      </div>
      </div>
  </div>
  </div>