    <div class="recommends--box recommends--box-left">
      <div class="recommends--unit clearfix">
        <div class="recommends--unit-img recommends--unit-left">
          <%= image_tag 'recommend/sannkaku_kainomi.jpg', :alt => 'カイノミ' %>
        </div>
        <div class="recommends--unit-text recommends--unit-right">
          <p class="recommends--unit-name">
            カイノミ <small>正肉系～バラ～カルビ～</small>
          </p>
          <p class="recommends--unit-point">
            ヒレに近い部位バラ肉ではあるが、位置的にヒレに近く、その特質を持っている。一頭からとれる量が少なく希少部位とされる。
          </p>
          <table>
          <tr>
          <th>柔らかさ</th>
          <th>固</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="active"><%= fa_icon 'check' %></td>
          <th>柔</th>
          </tr>
          <tr>
          <th>油</th>
          <th>少</th>    
          <td></td>
          <td class="active"><%= fa_icon 'check' %></td>
          <td></td>
          <td></td>
          <td></td>
          <th>多</th>
          </tr>
          <tr>
          <th>焼き方</th>
          <th>レア</th>
          <td></td>
          <td class="active"><%= fa_icon 'check' %></td>   
          <td></td>
          <td></td>     
          <td></td>
          <th>しっかり</th>
          </tr>
          <tr>
          <th>価格</th>
          <th>安</th>
          <td></td>
          <td></td>
          <td></td>
          <td class="active"><%= fa_icon 'check' %></td>
          <td></td>
          <th>高</th>
          </tr>
          </table>
        </div>
      </div>
    </div>