    <div class="recommends--box recommends--box-left">
      <div class="recommends--unit clearfix">
        <div class="recommends--unit-img recommends--unit-left">
          <%= image_tag 'recommend/sa-roin.jpg', :alt => 'ロース' %>
        </div>
        <div class="recommends--unit-text recommends--unit-right">
          <p class="recommends--unit-name">
            ロース <small>正肉系～腕・腿・ロイン～</small>
          </p>
          <p class="recommends--unit-point">
            
          </p>
          <table>
          <tr>
          <th>柔らかさ</th>
          <th>固</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="active"><%= fa_icon 'check' %></td>
          <th>柔</th>
          </tr>
          <tr>
          <th>油</th>
          <th>少</th>    
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="active"><%= fa_icon 'check' %></td>
          <th>多</th>
          </tr>
          <tr>
          <th>焼き方</th>
          <th>レア</th>
          <td class="active"><%= fa_icon 'check' %></td>
          <td></td>           
          <td></td>
          <td></td>
          <td></td>
          <th>しっかり</th>
          </tr>
          <tr>
          <th>価格</th>
          <th>安</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="active"><%= fa_icon 'check' %></td>
          <th>高</th>
          </tr>
          </table>
        </div>
      </div>
    </div>