<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div>
        <p style="color:#fff;"><%= current_admin.email %></p>
      </div>
    </div>

    <!-- search form (Optional) -->
    <% if admin_signed_in? %>
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <% end %>
    <!-- /.search form -->
    <ul class="sidebar-menu">
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>お知らせ</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <%= link_to admins_informations_url(current_admin) do %>
          <i class="fa fa-link"></i> <span>お知らせ一覧</span></a>
          <% end %>
        </li>
        <li>
          <%= link_to new_admins_information_path(current_admin) do %>
          <i class="fa fa-link"></i> <span>お知らせ作成</span></a>
          <% end %>
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>ブログ</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <%= link_to admins_blogs_path do %>
          <i class="fa fa-link"></i> <span>ブログ一覧</span></a>
          <% end %>
        </li>
        <li>
          <%= link_to new_admins_blog_path(current_admin) do %>
          <i class="fa fa-link"></i> <span>ブログ作成</span></a>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>

  </section>
  <!-- /.sidebar -->
</aside>
