<%= form_with(model: @blog, url: ([:admins, @blog]), local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  
    <div class="form-group">
    <%= form.label :subtitle, 'サブタイトル' %>
    <%= form.text_field :subtitle, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content, 'コンテンツ' %>
    <%= form.text_area :content, class: 'form-control', :size => "20x10" %>
  </div>

  <div class="field">
    <%= form.label :image, '画像' %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <hr>

    <div class="form-group">
    <%= form.label :secondtitle, 'タイトル' %>
    <%= form.text_field :secondtitle, class: 'form-control' %>
  </div>
  
    <div class="form-group">
    <%= form.label :secondsubtitle, 'サブタイトル' %>
    <%= form.text_field :secondsubtitle, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :secondcontent, 'コンテンツ' %>
    <%= form.text_area :secondcontent, class: 'form-control', :size => "20x10" %>
  </div>

  <div class="field">
    <%= form.label :secondimage, '画像' %>
    <%= form.file_field :secondimage, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
