<%= form_with(model: @blog, url: ([:admins, @blog]), local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  
    <div class="form-group">
    <%= form.label :subtitle, 'サブタイトル' %>
    <%= form.text_field :subtitle, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content, 'コンテンツ' %>
    <%= form.text_area :content, class: 'form-control', :size => "20x10" %>
  </div>

  <div class="field">
    <%= form.hidden_field :image_cache %>
    <%= form.label :image, '画像' %>
    <%= form.file_field :image, title: "ファイルを選択する" %>
    <p><%= form.check_box :remove_img %>画像を削除する</p>
    <%= image_tag @blog.image.url(:thumb), class: :preview if @blog.image? %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-pink btn-block' %>
  </div>
<% end %>
