<p id="notice"><%= notice %></p>

<h1>ブログ</h1>

<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>サブタイトル</th>
      <th>コンテンツ</th>
      <th>画像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.subtitle %></td>
        <td><%= blog.content %></td>
        <td class="mypage-shop-menu-img"><%= image_tag blog.image.url(:thumb) %></td>
        <td><%= link_to '確認', admins_blog_url(blog) %></td>
        <td><%= link_to '編集', edit_admins_blog_url(blog) %></td>
        <td><%= link_to '削除', blog, method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規ブログを投稿する', new_admins_blog_path %>
