<p id="notice"><%= notice %></p>

<h1>ブログ</h1>

<table class="table">
  <thead>
    <tr>
      <th>トップタイトル</th>
      <th>トップコンテンツ</th>
      <th>サムネイル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.main_title %></td>
        <td><%= blog.main_content.truncate(20) %></td>
        <td class="mypage-shop-menu-img">
        <% if blog.main_image.url %>
          <%= image_tag blog.main_image.url(:thumb) %>
        </td>
        <% end %>
        <td><%= link_to '確認', admins_blog_url(blog) %></td>
        <td><%= link_to '編集', edit_admins_blog_url(blog) %></td>
        <td><%= link_to '削除', [:admins, blog], method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規ブログを投稿する', new_admins_blog_path %>
