<p id="notice"><%= notice %></p>
<div class="admin_blog_show">
<div class="admin_blog_show-inner">
<small class="blog_show-desc">なごや焼肉情報誌 ニクナビ通信</small>
<h2 class="blog_show-toptitle">NIKUNABI TIMES!!<h2>
<div class="blog_show">
<h3 class="blog_show-title"><%= @blog.title %></h3>
<div class="blog_show-unit clearfix">
<div class="blog_show-unit-image blog_show-unit-left">
<%= image_tag @blog.image.url %>
</div>

<div class="blog_show-unit-content blog_show-unit-right">
<h4 class="blog_show-subtitle"><%= @blog.subtitle %></h4>
<p><%= @blog.content %>
</p>
</div>
</div>
</div>
</div>
</div>

<%= link_to '編集', edit_admins_blog_path(@blog) %> |
