<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-4664252508001750",
              enable_page_level_ads: true
        });
    </script>
  </head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash' %>

     <div class="">
       <div class="container-fluid">
         <div class="row">
           <div class="container">
             <%= breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-angle-right')} "%>
             <% unless current_page?(root_path) %>
             <hr>
             <% end %>
             <%= yield %>
           </div>
           <% if current_page?(root_path) %>
            <%= render 'static_pages/footer' %>
           <% end %>
       	</div>
       </div>
       <%= render 'layouts/footer' %>
     </div>
   </body>
</html>
