<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

  <!-- Main Header -->
  <%= render 'layouts/users/header' %>

  <!-- Left side column. contains the logo and sidebar -->
  <%= render 'layouts/users/sidebar' %>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <%= yield :page_h1 %>
    </section>

    <!-- Main content -->
    <section class="content">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>

      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <%= render 'layouts/users/footer' %>


</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="dist/js/app.min.js"></script>
-->

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
  </body>
</html>
